<h1>Abs</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        
        <th scope="col">exercise</th>
        <th scope="col">calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
      
        <td>Sit-ups</td>
        <td>5 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Crunches</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Twists</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Leg raises</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Toe touches</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Heel touches</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Side Plank</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Side Plank with rotation</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Scissors</td>
        <td>2 per rep</td>
      </tr>
    </tbody>
  </table>