<h1>back-shoulder
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        pre-created workouts
      </button>
</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">exercise</th>
        <th scope="col">calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Superman (Back Extensions</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Face-down arm raises</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Planks</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Alternating arm raises</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Shoulder taps</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Bird Dog</td>
        <td>2 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Mountain Climbers</td>
        <td>2 per rep</td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">example workout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <table class ="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">exercise</th>
                <th scope="col">Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Moutain climbers</td>
                <td>2 per rep</td>
              </tr>
              <tr>
                <td>Face-down arm raises</td>
                <td>2 per rep</td>
              </tr>
              <tr>
                <td>Alternating arm raises</td>
                <td>2 per rep</td>
              </tr>
           </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="addBackShoulder()" type="button" class="btn btn-primary">Save for Future Workout!</button>
        </div>
      </div>
    </div>
  </div>