<div class="row row-cols-1 row-cols-md-3 mx-2 my-2">
    <div class="col mb-4">
      <div class="card text-white bg-dark h-100">
        <img src="../../../assets/images/chest.jpg" id ='work' class="card-img-top" alt="Chest and Arms">
        <div class="card-body">
          <h5 class="card-title">Chest & Arms</h5>
          <p class="card-text"> Check out all of our Chest and Arm Workouts!</p>
          <a routerLink='chestArms' class="btn btn-outline-success my-2 mx-1 my-sm-0" type="submit">Chest Workouts</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white bg-dark h-100">
        <img src="../../../assets/images/legs.jpg" class="card-img-top" alt="Legs">
        <div class="card-body">
          <h5 class="card-title">Legs</h5>
          <p class="card-text"> Check out all of our Leg Workouts!</p>
          <a routerLink='legs' class="btn btn-outline-success my-2 mx-1 my-sm-0" type="submit">Leg Workouts</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white bg-dark h-100">
        <img src="../../../assets/images/backShoulder.jpg" class="card-img-top" alt="Back and Shoulder">
        <div class="card-body">
          <h5 class="card-title">Shoulder & Back</h5>
          <p class="card-text"> Check out all of our Shoulder and Back Workouts!</p>
          <a routerLink='backShoulder' class="btn btn-outline-success my-2 mx-1 my-sm-0" type="submit">Shoulder/Back Workouts</a>        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white bg-dark h-100">
        <img src="../../../assets/images/abs.jpg" class="card-img-top" alt="Abs">
        <div class="card-body">
          <h5 class="card-title">Abs</h5>
          <p class="card-text"> Check out all of our Ab Workouts!</p>
          <a routerLink='Abs' class="btn btn-outline-success my-2 mx-1 my-sm-0" type="submit">Ab Workouts</a>        </div>
      </div>
    </div>
    <div class="col mb-4">
        <div class="card text-white bg-dark h-100">
          <img src="../../../assets/images/stretches.jpg" class="card-img-top" alt="Stretches">
          <div class="card-body">
            <h5 class="card-title">Stretches</h5>
            <p class="card-text"> Check out all of our Stretches Post-Workout!</p>
            <a routerLink='stretches' class="btn btn-outline-success my-2 mx-1 my-sm-0" type="submit">Stretches</a>          </div>
        </div>
      </div>
  </div>