
<div class="container">
    <div class="row">
        <div class="col-lg-12" *ngFor='let u of users'>
            <h3>testing</h3>
            <ul class="list-group">
                <li class="list-group-item active">Username: {{u.username}}</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
    </div>

</div>

