<h1>chest-arms</h1>
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">exercise</th>
        <th scope="col">Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Push-up</td>
        <td>5 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Wide-arm pushups</td>
        <td>5 per rep</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Staggered pushups</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope ="row"></th>
        <td>Diamond pushups</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Inclined pushups</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Declined pushups</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Knee-down pushups</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Pull ups</td>
        <td>6 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Burpees</td>
        <td>10 per rep</td>
      </tr>
      <tr>
        <th scope = "row"></th>
        <td>Hindu Pushups</td>
        <td>10 per rep</td>
      </tr>
    </tbody>
  </table>